#works {
  margin: 0 auto;
  min-height: cal(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.worksTitle {
  margin: 1rem 0;
  font-size: 3rem;
}

.worksDesc {
  background-color: rgb(40, 50, 50);
  padding: 1.5rem 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;
  width: 100vw;
}
/* 
.worksImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 65rem;
}

.worksImg {
  object-fit: cover;
  height: 20rem;
  margin: 0.5rem;
  border-radius: 1.5rem;
}

.workBtn {
  margin: 3rem 0;
  padding: 0.5rem 2.5rem;
  border: none;
  background-color: white;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 585px) {
  .worksImg {
    height: 48vw;
  }
} */
